body {
  background-color: #0a0a0a;
  color: #f1f1f1;
  font-family: 'Segoe UI', sans-serif;
}

.navbar-brand span {
  color: #FFA500;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-details h3 {
    margin: 0;
    font-size: 1rem;
    color: white;
}

.user-details p {
    margin: 0;
    font-size: 0.8rem;
    color: #ddd;
}

.dropdown-menu {
  background-color: #1c1c1c;
}

.dropdown-item:hover {
  background-color: #333;
  color: #FFA500;
}

.dropdown-toggle::after {
  display: none !important;
}

.hero h1,
.hero h2,
.text-warning {
  color: #FFA500 !important;
}

.hero {
  background-color: #0f0f0f;
}

.btn-warning {
  background-color: #FFA500;
  border: none;
  color: #000;
  font-weight: bold;
}

.btn-warning:hover {
  background-color: #ff8c00;
  color: #fff;
}

section {
  scroll-margin-top: 100px;
}

input,
textarea {
  background-color: #1c1c1c;
  color: white;
  border: 1px solid #444;
}

input:focus,
textarea:focus {
  border-color: #FFA500;
  box-shadow: none;
  background-color: #222;
}

#profile-name {
  min-width: 80px;
  display: inline-block;
}

@keyframes shimmer {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

#loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

#loader {
	display: none;
	width: 60px;
	aspect-ratio: 2;
	--_g: no-repeat radial-gradient(circle closest-side, #125b9a 90%, #0000);
	background:
		var(--_g) 0% 50%,
		var(--_g) 50% 50%,
		var(--_g) 100% 50%;
	background-size: calc(100% / 3) 50%;
	animation: l3 1s infinite linear;
}

@keyframes l3 {
	20% {
		background-position: 0% 0%, 50% 50%, 100% 50%;
	}
	40% {
		background-position: 0% 100%, 50% 0%, 100% 50%;
	}
	60% {
		background-position: 0% 50%, 50% 100%, 100% 0%;
	}
	80% {
		background-position: 0% 50%, 50% 50%, 100% 100%;
	}
}

.swal2-input {
  margin: 0.5rem 0;
  margin-left: 1rem;
} 